.learn-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.learn-container2 {
  height: 300px; /* Set the height of the div */
  background: linear-gradient(to bottom,  rgb(5, 5, 72) 0%,  rgb(5, 5, 72) 20%, white 30%, white 80%,  rgb(5, 5, 72) 80%, rgb(5, 5, 72) 100%);
  color: white;
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  margin: 30px;
  border-radius: 10px;
}

.top{
  height:20%;

}

.center {
  flex-grow: 1; /* Allow the center section to grow to fill remaining space */
  height: 60%;
  color: black;
}

.bottom{
  height: 10%;

}

